body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
}

a {
    color: #fff !important;
    margin-bottom: 0 !important;
}